// @import "../../assets/scss/mixin/input";
// @import "variables.scss";

@font-face {
  font-family: "Avenir";
  src: url(fonts/AvenirLTStd-Book.otf);
}

html body {
  background: #EEEEEE !important;
  font-size: $font-normal;
  word-break: break-word;
}

// Globals
.mirror-image{
  -webkit-transform: scaleX(-1) rotate(180deg);
  transform: scaleX(-1) rotate(180deg);
}
.rotate-270 {
    transform: rotate(270deg);
}
.rotate-90{
  transform: rotate(90deg);
}
.rotate-180{
  transform: rotate(180deg);
}
.transition{
  transition: all 0.3s ease-in;
}
.cursor-pointer{
  cursor: pointer;
}
.f-12{
  font-size: $font-small !important;
}


html body .main {
  padding-bottom: 150px !important;
  float: left;
  width: 100%;
  padding-top: 60px !important;
}

.socket-navbar {
  align-items: flex-start !important;

  .navbar-logo {
    .navbar-title {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #8F90A6;
      cursor: pointer;
    }
  }

  .user-profile {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      right: 0;
      left: inherit;
    }
  }
}

.nav-search {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  padding: 12px 14px;
  margin-right: 6px;

  &:hover {
    background-color: var(--light-grey-medium);
  }
}

.nav-search-menu {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s linear;

  .settings-content {
    transform: translate3d(-255px, 45px, 0px) !important;
    min-width: 300px;
  }
}

.profile-dropdown {
  padding: 0 1rem;
  &.show{
    background-color: #000;
    .profile-box img.transition{
      transform: rotate(0);
    }
  }
  .dropdown-item:focus, .dropdown-item:hover{
    background: none;
  }
  .dropdown-item {
    padding: 0;
  }
  .ShowMore {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #828282;
    cursor: pointer;
  }

  .orgs-list > div div {
    font-size: 14px;
  }

  .text-sm-bold {
    color: #828282;
    font-weight: 700;
    font-size: 10px;
  }

  .profile-sm-block {
    background-color: #fcfcfc;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    margin: 15px 0; 

    input.form-control {
      margin: 8px auto 15px;
      box-shadow: none;
      border: 1px solid #f4f4f4;
      background: #fff;
      border-radius: 6px;
      max-width: 94%;
  }

    .settings-item {
      border-bottom: 1px solid #F4F4F4;
    } 
    .settings-item:last-child {
      border: none;
      margin-bottom: 0;
    }

  } 


  .settings-content {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 0;
    padding: 15px 10px;
    min-width: 265px;
    transform: translate(0 , 45px) !important;
    margin-top: 15px !important;
    left: auto !important;
    right: 6px !important;

    .settings-item {
      padding: 0.7rem 1rem;
      // display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover .settings-label {
        color: var(--grey);
      }

      .settings-user-name span {
        display: block;
      }
      span.settings-label-light {
        color: #4F4F4F;
        font-size: 10px;
      }
      .settings-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        // display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

    }
  }

  .hover-block {
    pointer-events: none;
  }

  .profile-box{
    padding: 8px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .org-name{
      font-size: 14px;
    }
    img.transition{
      transform: rotate(180deg);
    }
  }

  .org-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #d6d6d6;
    text-transform: capitalize;
  }
}

.flow-type-dropdown {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  padding: 6px 6px;

  &:hover {
    background-color: var(--light-grey-medium);
  }

  .settings-content {
    background: #ffffff;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 15px 10px;
    min-width: 14rem;
    transform: translate3d(0px, 42.5px, 0px) !important;

    .settings-item {
      padding: 0px 10px;
      display: flex;
      align-items: center;

      .settings-icon {
        background: #EAEAEA;
        border-radius: 4px;
        width: 28px;
        height: 24px;
      }

      .settings-label {
        font-weight: 500;
        font-size: 14px;
        color: #000;
        line-height: 1.3;
        display: inline-block;
        width: 180px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
      .settings-label-light{
        color: #4F4F4F;
      }
    }
  }
}





/*****************GENERIC CLASSES*******************/
body {
  .display-1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
  }

  .display-1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;

  }

  // *******Headings****************
  .heading-1 {
    font-weight: 700;
    font-size: 28px;
  }

  .heading-2 {
    font-weight: 700;
    font-size: 24px;
  }

  .heading-3 {
    font-weight: 700;
    font-size: 20px;
  }

  .heading-4 {
    font-weight: 600;
    font-size: 18px;
  }

  .heading-5 {
    font-weight: 500;
    font-size: 18px;
  }

  .heading-6 {
    font-weight: 700;
    font-size: 16px;
  }

  // *******bodyquotes***********
  .body-qoutes {
    font-size: 28px;
    line-height: 42px;
    font-weight: 500;
  }

  // ********body*******
  .body-1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--grey)
  }

  .body-2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--grey)
  }

  .body-3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--grey)
  }

  .body-4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: var(--grey)
  }

  .body-5 {
    font-size: $font-small;
    font-weight: 500;
    line-height: 12px;
    color: $grey-text;
  }

  .body-6 {
    font-size: $font-small;
    font-weight: 400;
    line-height: 13px;
    color: $grey-text;
  }


}

.full-width {
  width: 100%;
}
.justify-space-between{
  justify-content: space-between;
}

.Toastify__toast-container {
  .Toastify__toast--success {
    background: #E6F6EF;
    min-height: 50px;
    color: #28293D;
    font-size: 13px;
    border: 1px solid #05A660;
    border-radius: 4px;

    .Toastify__progress-bar {
      background: #05A660;
    }
  }

  .Toastify__close-button {
    color: #28293D;
  }


  .Toastify__toast--error {
    background: #FCEBEB;
    min-height: 50px;
    color: #28293D;
    font-size: 13px;
    border: 1px solid #E53535;
    border-radius: 4px;

    .Toastify__progress-bar {
      background: #E53535;
    }
  }

  .Toastify__toast--info {
    background: #E5F0FF;
    min-height: 50px;
    color: #28293D;
    font-size: 13px;
    border: 1px solid #3E7BFA;
    border-radius: 4px;

    .Toastify__progress-bar {
      background: #3E7BFA;
    }
  }

  .Toastify__toast--warning {
    background: #FCF2E5;
    min-height: 50px;
    color: #28293D;
    font-size: 13px;
    border: 1px solid #E57A00;
    border-radius: 4px;

    .Toastify__progress-bar {
      background: #E57A00;
    }
  }



}



.product-listing-main-wrapper {
  max-width: 1200px;
  margin: auto;
  .product-tile h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5rem;
  }
  .product-desc h3 {
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    &:after{
      width: 98px;
      height: 4px;
      display: block;
      background: #000;
      content: '';
      margin: 5px 0 20px;
    }
  }

  .main-screen-wrapper {
    text-align: center;
    margin: auto;
    height: 374px;
    display: block;
    width: 100%;
    background: #E0E0E0;
    border-radius: 35px;
    overflow: hidden;
    * {
      height: 374px;
      object-fit: contain;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
    }
  }

  .product-desc p {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .product-desc {
    width: 100%;
    max-width: 720px;
  }

  .button-wrapper {
    margin: 5rem 0 0;

    .btn {
      width: 200px;
      margin: 0 5px;
      font-size: 16px;
      font-weight: 600;
      padding: 11px 0;
      border-radius: 6px;
    }
  }


  ul.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
  }

  ul.slick-dots li {
    display: inline-block;
  }

  ul.slick-dots li button {
    font-size: 0px;
    height: 5px;
    display: inline-block;
    background: #E0E0E0;
    width: 100px;
    border: none;
    border-radius: 4px;
    margin: 0 4px;
  }

  .slick-slide img {
    display: inline-block;
  }

  ul.slick-dots li.slick-active button {
    background: #28293D;
  }
}

.welomce-name h3 {
  color: #000000;
  font-size: 24px;
  line-height: 55px;
  font-weight: 700;
  margin: 30px 0 0;

  .fa.fa-pencil-square-o {
    visibility: hidden;
    margin-left: 7px;
    cursor: pointer;
  }

  &:hover {
    .fa.fa-pencil-square-o {
      visibility: visible;
      margin-left: 7px;
    }
  }
}

.endpoint-list-group .endpoint-list .custome-box .custome-box-inner:hover .never-inv {
  display: none;
}

.endpoint-list-group .endpoint-list .custome-box .custome-box-inner:hover .url-time {
  display: none;
}

.never-inv {
  font-weight: 500;
  font-size: 14px;
}


.endpoint-list.turnoff {

  .custome-box,
  .create-flow-wrapper {
    background: #F8F8F8 !important;

    .custome-box-inner {
      span {
        color: var(--grey) !important;
      }
    }
  }

  .create-flow-wrapper.connected {
    border-color: var(--light-gray) !important;

    button {
      color: var(--grey) !important;
    }

    .create-flow-button {
      background: #F8F8F8 !important;
    }
  }

  .create-flow-wrapper .btn.btn-light {
    background: #F8F8F8;
  }

  .custome-box-inner .more-option {
    background: #F8F8F8 !important;
  }

  .connected-arrow svg * {
    fill: #bdbdbd
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(96, 97, 112, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

.modal-button-groups {
  margin: 35px 0 0 0;

  .btn {
    min-width: 85px;
    margin-right: 10px;
    border-radius: 6px;
    font-size: 14px;
  }
}

.modal-button-groups .btn-outline-dark {
  background: #fff !important;
}

html .close {
  float: right;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #828282;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}

.modal-content {
  padding: 15px;
}

.modal-footer {
  padding: 0 1rem 1rem !important;
  border: none !important;
  display: block !important;
}

.main-panel-wrapper .functions-grid-header,
.main-panel-wrapper .functions-grid-container-2 .functions-grid {
  grid-template-columns: 48% repeat(auto-fill, 16%) !important;
}

.welomce-name {
  h3 {
    color: #000000;
    font-size: 24px;
    line-height: 55px;
    font-weight: 700;
    margin: 0px 0px 0 0;
  }

  span {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #3E7BFA;
    cursor: pointer;
  }
}


.add-end-buttons {
  margin: 30px 0 0;

  button {
    margin-right: 20px;
    height: 48px;
    border-radius: 8px;
    padding: 0 25px;
    min-width: 200px;
    font-size: 16px !important;
    font-weight: 600 !important;

    svg {
      position: relative;
      top: -3px;
      left: -5px;
    }
  }
}


.boxl-wrap {
  background: #F0F0F0;
  margin: 0 10px;
  border: 1px solid #E0E0E0;
  float: left;
  border-radius: 6px;
  padding: 25px;
  width: 50%;
  text-align: left;

  .noPadding p {
    margin-bottom: 0;
  }
}

.boxl-wrap h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

.l-wrapper {
  display: flex;
  margin: 0 -10px;

  .modal-button-groups {
    margin-top: 60px;
  }
}

.script-button-group button.btn.btn-outline-dark {
  padding: 8px 35px;
}
.headerNavbar {
  background: #272727;
  padding: 0px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  .dropdown-toggle svg:hover{
    fill: #fff;
  }
  > div{
    width: 100%;
  }
  .logoContainer {
    width: 345px;
    svg.svgHover{
      transition: all 0.3s ease-in-out;
      &:hover{
        stroke: #fff;
        *{
          stroke: #fff;
        }
      }
    }
  }
  &:empty{
    display: none;
  }
  .search-container{
    margin-right: 0;
    transition: all 0.3s ease-in;
    &:hover{
      background-color: #000;
    }
  }
  .navbar-brand{
    padding: 0 !important;
    margin-right: 0.4rem !important;
  }
  .navbar-logo img{
    filter: invert(1);
  }
}

.headerNavbarWhite{
  background: #fff !important;
  .bg-black, .profile-dropdown{
    background-color: #fff;
  }
}

nav#function-nav {
  background: #F9F9F9;
  padding-bottom: 0;
}

.create-flow-wrapper.connected .create-flow-button .dropdown-menu {
  width: 116% !important;
}

.sec-pop .list-group-item p {
  color: #828282;
}

.sec-tri-flow {
  margin: 30px 0 0;
  width: 100%;
  max-width: 400px;
}

.btn.disabled,
.btn:disabled {
  opacity: .4;
}

span.grey-var {
  color: #828282;
}

.rounded-white-btn {
  border: 1px solid #BDBDBD !important;
  border-radius: 6px;
  background: #fff;
  height: 28px;
  display: flex;
  align-items: center !important;
  font-size: 12px;
  font-weight: 500;
  width: auto;
  padding: 0px 10px 0px 10px;
  margin-right: 10px !important;
  justify-content: center;
  float: right;

  &:hover {
    background-color: #E8E8E8 !important;
  }
  &:disabled{
    background-color: #E8E8E8 !important;
  }
}

pre {
  border: 1px solid #ccc;
  margin: 0px !important;
  background-color: #f5f5f5f5;
  font-size: 13px;
  line-height: 1.4;
  overflow: break-word;
  color: #333 !important;
  border-radius: 4px;
  padding: 10px;
}

button.disabled {
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}

.community-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #898989;
  border-radius: 8px;
  height: 56px;
  align-items: center;
  padding: 0 100px;
  margin: 35px 5% 0;
}

.community-wrapper a {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #8A8A8A;
  border-radius: 4px;
  border: 1px solid #898989;
  padding: 7px 18px;
  background: transparent;
}

.community-wrapper p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-right: 35px;
  color: #898989;
}
a.btn.bt-community {
  padding: 0 !important;
}

.nav .dropdown-divider {
  border: 1px dashed #f4f4f4;
  margin: 0.6rem 0 1rem;
}

.mr-10{
  margin-right: 10px;
}

.m-1r{
  margin-right: 1rem;
}

.btn-outline-primary{
  color: #000 !important;
  border-color: #000 !important;
  &:hover{
    background-color: #000 !important;
    color: #fff !important;
  }
}

.modal-dialog{
  .modal-content{
    padding: 0;
  }
  .p-30{
    padding: 30px;
  }
  .brdBox {
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    .tab-content {
      padding: 0 20px;
    }
  }
  .row{
    margin: 0; 
  }
  .result-header {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0 18px;
  }
  .no-data {
    flex-direction: column;
  }
  .top-tabs > nav.navbar-tabs-container {
    background: #f8f8f8;
    padding: 10px 5px 10px;
    border-radius: 7px;
    border: none;
    margin-bottom: 20px !important;
  }
}

.modal-header{
  background: #F2F2F2;
  border-radius: 5px !important;
}
.groupBy span {
    color: #828282;
}

.position-relative{
  position: relative;
}

.invoke-step-table {
  overflow-x: auto;
  margin: 28px 0 0;
  max-height: 700px;
  padding-bottom: 1.5rem;
  min-height: 300px;
  &::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 10px;
  }
  table{
    margin-top:0;
    thead {
      position: sticky;
      top: -1px;
      background: #f5f5f5;
    }
    tr{
      th, td{
        min-width: 180px;
        font-size: 14px;
        max-width: 280px;
        padding: 14px 10px;
        text-align: left;
        color: #000;
        word-break: break-word;
        
        &:last-child{
          max-width: 100%;
          min-width: 400px;
         
        }
        &.invocation-variable{
          span{
            display: inline-block;
            background-color: #e5e5e5;
            padding: 5px 10px;
            border-radius: $border-radius;
            border: 1px solid $outline-color;
          }
        }
      }
      .ctaThead button {
        background: none !important;
        border: none !important;
        padding: 0;
        color: #000 !important;
        font-weight: 600;
        border-bottom: 1px solid #000 !important;
        border-radius: 0;
        &::after{
          display: none;
        }
      }
      th{
        color: #828282;
        font-weight: 500;
        vertical-align: top;
        &::before{
          content: '';
          width: 100%;
          display: block;
          height: 2px;
          background: #e6e6e6;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .dropdown-menu {
    width: 300px !important;
    margin-top: 5px !important;
  }
  .Poplist{
    padding: 0 10px;
    h5{
      font-size: 14px;
      font-weight: 700;
      color: #000;
      padding-top: 2px;
    }
    span{
      margin-right: 25px;
      font-size: 14px;
    }
    .innerPop{
      height: 190px;
      overflow-x: auto;
      padding-right: 10px;
      > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
      }
    }
    .react-switch-handle {
      width: 9px !important;
      height: 9px !important;
    }
    .react-switch-bg {
      height: 11px !important;
      width: 18px !important;
    }
  }
}

.logsTable {
  h3{
    color: #828282;
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;
  }
  input {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    height: 36px;
    padding: 0 20px;
    width: 100%;
    max-width: 442px;
    font-weight: 500;
    font-size: 12px;
    background-color: inherit;
  }
  select {
    border: none;
    color: #828282;
    background: none;
    font-weight: 600;
    margin-right: 20px;
    font-size: 14px;
    background: url('../../assets/arrow-bottom.png') no-repeat right 100%;;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
  }
}


.noData {
  padding: 50px 0;
  max-width: 770px;
  margin: auto;
  span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  h5 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
  }
}

.switchPrd{
  height: 100%;
  .dropdown{
    height: 100%;
    display: flex;
    .dropdown-toggle{
      padding: 0 1rem 0 1.5rem;
    }
  }
  .show{
    .dropdown-toggle{
      background-color:#000 !important;
      svg{
        transform: rotate(180deg);
      }
    }
  }
  .dropdown-menu {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 0 0.6rem;
    min-width: 13.688rem;
    transform: translate(10%, 24%) !important;
  }
  .dropdown-item{
      padding: 0.5rem 1rem;
      font-size: 14px;
      color: #000;
      &:first-child {
        color: #000;
        padding: 0;
        cursor: context-menu;
        &:hover{
          background: none;
        }
      }
      &:last-child {
        font-size: 12px;
        color: #000;
        font-weight: 600;
        padding: 0 0.5rem;
        margin: 2rem 0 1rem;
        &:hover{
          background: none;
        }
      }
  }
  a.dropHeader {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 !important;
    margin-bottom: 10px;
    padding: 0.7rem 1rem !important;
    font-weight: 600;
    font-size: 12px;
  }
  button.btn {
  background: inherit !important;
  box-shadow: none !important;
  border:none;
  border-radius: 0;
  &:after{
    display: none;
  }
  }
}

.headerNavbarWhite .navbar-logo img {
  filter: invert(0);
  width: 140px;
}
.headerNavbarWhite > div{
  max-width: 1200px;
  margin: auto;
}

.selected-webhook-step {
  .webhook-container{
    border: none !important;
    .row{
      margin: 0;
    }
  }
}

.errorPage{
  background-image: url('../../assets/texture.webp');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  h4 {
    font-size: 100px;
    font-weight: 800;
  }
  h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 45px;
  }
  button {
    background: none;
    border: 1px solid #828282;
    font-size: 14px;
    display: inline-block;
    padding: 13px 40px;
    
  }
}

.authKey {
  margin-bottom: 10rem;
  span{
    background-color: #fff;
    height: 3rem;
    display: inline-flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .authBox {
    border: 3px dashed #a6a6a6;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.width-sm img{
  width: 19px !important;
}
div#steve-parent-accordion{
  right: 120px;
}
.bg-black{
  background-color: #000;
}
.brand-block {
  display: inline-flex;
  height: 100%;
  .show-dashboard{
    cursor:pointer;
  }
}
.link-new{
  color: #D6D6D6;
  cursor: pointer;
  font-size: 14px;
  padding: 0 1rem;
  margin-right: 2rem;
  height: 100%;
  &:hover{
    background-color: #000;
  }
}
button.btn.btn-link {
  padding-top: 0;
  padding-bottom: 0;
  color: black;
  font-size: 12px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: #fff;
  text-decoration: none;
  height: 24px;
}
.createButton {
  background-color: #BDBDBD;
  height: 3rem;
  padding: 0 1rem;
  color: #fff;
  border:none;
  &.black{
    background-color: #000;
  }
}

.drawer {
  position: fixed;
  background-color: #fff;
  width: 100%;
  right: 0;
  height: 100%;
  top: 0;
  max-width: 600px;
  padding: 0.5rem 0.5rem 1rem;
  box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.12);
  border-radius: $border-radius;
  z-index: 999;
  .drawer-inner {
    height: 100%;
    overflow-x: auto;
    padding: 1rem 1.5rem;
    .drawer-title {
      font-size: 1.5rem;
      color: #000;
    }
  }
  .drawer-close {
    display: block;
    i {
      background-color: #e8e8e8;
      padding: 0.5rem;
      display: inline-flex;
      border-radius: 5px;
      font-size: 0.8rem;
      width: 1.5rem;
      height: 1.5rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .webhook-button-group .btn-danger{
    display: none ;
  }
}
.sb-avatar__text span {
  font-size: 14px;
}

.full-width-modal {
  padding: 0 !important;
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    width: 100%;
    iframe{
      width: 100%;
      height: 100vh;
      border: none;
      overflow-x: auto;
    }
  }
}
.manage-header-text{
  text-align: center;
  align-items: center;
  display: flex;
  color: white;
}

.sort-drop .dropdown-toggle {
  background: none !important;
  border: none;
  padding: 0;
  &:hover, &:focus{
    background: none;
  }
  &:after{
    display: none;
  }
}
.steveContainer img {
  width: 100%;
  max-width: 450px;
}
.inspect-container {
  font-size: 14px;
}
.btn.btn-outline {
  border: 1px solid #000;
  font-size: $font-small;
  color: $black;
  padding: 0.25rem 0.5rem;
}
button.text-link {
  background: none;
  border: none;
  font-size: $font-small;
  font-weight: 600;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: $black;
  }
  &.danger{
    color: #EB5757;
    &:after{
      background: #EB5757;
    }
  }
  &:hover{
    text-decoration: none;
  }
}

.toggle-container{
  .toggle-header{
    background-color: #fafafa;
    padding: 1rem;
    cursor: pointer;
    h3 {
        font-size: $font-medium;
        font-weight: 600;
    }
    .refresh {
        font-size: $font-small;
        text-decoration: underline;
    }
  }
  .toggle-body {
    background-color: #fff;
    > div{
      padding: 1rem;
    }
  }
}

.box-view {
  border: 1px solid #BDBDBD;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  overflow: hidden;
  .text-link{
    font-size: $font-normal;
  }
  .box-header {
    background-color: #F8F8F8;
    padding: 0.45rem 1rem;
    .subheading-2 {
      font-size: $font-normal;
      text-align: left;
    }
  }
  .box-body {
    padding: 1rem;
    background-color: #FCFCFC;
  }
}

.step-name h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.modal{
  .webhook-parent {
    display: flex;
    > div {
      width: 48%;
      margin-right: 4%;
      &:nth-child(2){
        margin-right: 0;
      }
    }
    .webhook-content {
      padding: 1rem !important;
    }
  }
  .active-toggle {
    display: none !important;
  }
  .step-name {
    display: none !important;
  }
}

.alert-action {
  background-color: #D8E9FF;
  max-width: max-content;
  padding: 0rem 0.5rem;
  font-size: $font-small;
  font-weight: 500;
  line-height: 2.55;
}

.variable-modal {
  .modal-dialog{
    max-width: 40rem;
    .modal-body pre {
      max-height: 30rem;
      overflow: auto;
    }
  }
}
.else-part .flow-step {
  border: none;
  padding-bottom: 0;
}
